@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<a href="/" class="btn btn-light shadow rounded-circle position-fixed top-0 start-0 m-3 d-flex align-items-center justify-content-center"
   style="width: 50px; height: 50px; z-index: 1050;">
    <i class="bi bi-arrow-left-circle-fill fs-4"></i>
</a>

<div class="dropdown position-fixed bottom-0 start-0 m-3">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
        <span class="d-none d-sm-inline mx-1">@User.Identity.Name</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Preferences</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
</div>


<div class="my-3 flex">
    <img src="~/assets/AppLogo.png" alt="AppLogo" style="width: 80px; height: auto;" class="me-1" />
    <h1 class="fw-bold text-white" style="font-size:20px;">Manage Your Account</h1>
</div>
<ul class="nav nav-pills flex-column">
    <li class="nav-item manage-item">
        <a class="fw-bold fs-15 text-white nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="bi bi-person-circle fs-3 m-3"></i> Profile
        </a>
    </li>

    <li class="nav-item manage-item">
        <a class="fw-bold fs-15 text-white nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            <i class="bi bi-envelope fs-3 m-3"></i> Email
        </a>
    </li>

    <li class="nav-item manage-item">
        <a class="fw-bold fs-15 text-white nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <i class="bi bi-key fs-3 m-3"></i> Password
        </a>
    </li>

    <li class="nav-item manage-item">
        <a class="fw-bold fs-15 text-white nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
            <i class="bi bi-person fs-3 m-3"></i> Personal data
        </a>
    </li>
</ul>
